<div class="filter-cover">
    <div class="filter-header">
        <h2>Filters</h2>
    </div>
    <div class="launch-year-wrapper">
        <div class="launch-year-title">Launch Year</div>
        <div class="launch-year-content">
            <div class="year-button" *ngFor="let year of launchYear"
            [ngClass]="{'year-button-selected':year===selectedYear}"
            (click)="changeFilter({key:'launch_year',value:year})">{{year}}</div>
        </div>
    </div>
    <div class="launch-success-wrapper">
        <div class="launch-year-title">Successful Launch</div>
        <div class="launch-year-content">
            <div class="year-button"  
            [ngClass]="{'year-button-selected':flag.key===launchStatus}"
            *ngFor="let flag of states"
            (click)="changeFilter({key:'launch_success',value:flag.key})">{{flag.value}}</div>
        </div>
    </div>
    <div class="landing-success-wrapper">
        <div class="launch-year-title">Successful Landing</div>
        <div class="launch-year-content">
            <div class="year-button" 
            [ngClass]="{'year-button-selected':flag.key===landStatus}"
            *ngFor="let flag of states"
            (click)="changeFilter({key:'land_success',value:flag.key})">{{flag.value}}</div>
        </div>
    </div>
</div>